
                  <li><%= link_to "Über Lernerei", pages_path("about") %></li>
                  <li><%= link_to "CoderDojo Salzburg", "http://coderdojo-salzburg.at/" %></li>
                  <li><%= link_to "Coderdojo", "http://coderdojo.com/" %></li>
